body {
  margin: 0;
  background-color: #f6f6f6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

:root {
  --topHeight: 4vh;
  --linkColor: #08f;
}
