.MmssApp {
  position: relative;
  height: var(--mmss-height);
  overflow: hidden;

  --mmss-height: 100vh;
  --finder-height: calc(var(--mmss-height) - var(--header-height) - var(--footer-height));
  --footer-height: 6vh;
}
