.MmssApp {
  position: relative;
  height: var(--mmssHeight);
  overflow: hidden;

  --mmssHeight: 100vh;
  --finderHeight: calc(var(--mmssHeight) - var(--headerHeight) - var(--footerHeight));
  --footerHeight: 6vh;
}
