.Finder {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  height: var(--finderHeight);

  &_Column {
    display: grid;
    grid-template-rows: 30px 1fr;
    height: inherit;
  }

  &_Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 30px;
    background-color: #9cc2c3;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;

    &_Sorter {
      font-size: .6rem;
      color: inherit;

      & img {
        height: 10px;
        vertical-align: text-top;
        margin-left: 5px;
      }
    }
  }

  &_Body {
    overflow: scroll;
  }
}

.ArtistItem,
.AlbumItem,
.SongItem {
  box-sizing: border-box;
  margin: 2px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
  font-size: .9rem;
  line-height: 1.1rem;

  &.-selected {
    border-left: 4px solid #08f;
  }

  &_Sub {
    padding-top: 5px;
    color: #b3b3b3;
    text-align: right;
    font-size: .7rem;
  }
}

.SongItem {
  &_Sub {
    display: flex;
    justify-content: space-between;
  }
}
