.Finder {
  display: flex;

  &_Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: var(--topHeight);
  }

  &_Index {
    display: flex;
    width: 50%;
  }

  &_Detail {
    width: 50%;
  }

  &_Column {
    display: flex;
    flex-direction: column;
    height: var(--finderHeight);
    width: 100%;
  }

  &_Row {
    box-sizing: border-box;
    padding: 5px 10px;

    &:nth-child(even) {
      background-color: var(--lightBgColor);
    }
  }
}

.Scroller {
  overflow: scroll;
}

.ArtistItem {
  display: flex;
  cursor: pointer;

  &.-selected {
    font-weight: bold;
  }

  &_Action {
    width: 50px;
    margin-right: 5px;
  }

  &_Body {
    flex: 1 1 auto;

    &_Sub {
      text-align: right;
      font-size: .7rem;
    }
  }
}

.AlbumItem {
  display: flex;
  cursor: pointer;

  &.-selected {
    font-weight: bold;
  }

  &_Action {
    width: 50px;
    margin-right: 5px;
  }

  &_Body {
    flex: 1 1 auto;

    &_Sub {
      text-align: right;
      font-size: .7rem;
    }
  }
}

.SongItem {
  display: flex;

  &_Action {
    width: 50px;
    margin-right: 5px;
  }

  &_Body {
    flex: 1 1 auto;

    &_Artist {
      font-size: .8rem;
    }

    &_Sub {
      text-align: right;
      font-size: .7rem;
    }
  }
}
