.Finder {
  display: flex;

  &_Index {
    display: flex;
    width: 50%;
  }

  &_Detail {
    flex: 1 1 auto;
  }

  &_Column {
    display: flex;
    flex-direction: column;
    height: var(--finderHeight);
    width: 100%;
  }
}

.Scroller {
  overflow: scroll;

  &_Inner {
    padding: 0 10px;
  }
}

.ArtistItem {
}

.AlbumItem {
}

.SongItem {
}
