.Header {
  position: relative;
}

.ProgressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #000;

  &_Inner {
    height: 5px;
    background-color: var(--linkColor);
  }
}
