.Playlist {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  height: var(--playlist-height);
  box-sizing: border-box;
  padding: 1rem;
  max-height: 30vh;
  overflow: scroll;

  &_Inner {
  }
}
