.Player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footerHeight);
  padding: 0 30px;
  box-sizing: border-box;
  background-color: #f1f3f4;

  &_ProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &_Info {
    padding: 15px 0;
    font-size: .8rem;
    text-align: center;
  }

  &_Controls {
    display: flex;

    &.-disabled {
      pointer-events: none;
      opacity: .6;
    }

    &_Audio {
      flex: 1 1 auto;
    }

    &_Item {
      width: 20px;
      color: inherit;

      & img {
        height: 15px;
        vertical-align: bottom;
      }
    }
  }
}

.ProgressBar {
  height: 4px;
  background-color: #e6e6e6;

  &_Inner {
    height: 4px;
    background-color: var(--linkColor);
  }
}

.Audio {
  width: 100%;
  vertical-align: top;
}
