.TabTrigger {
  display: flex;
  justify-content: center;

  &_Item {
    padding: 0 10px;
    margin: 10px 0;
    color: inherit;

    &:hover,
    &.isSelected {
      border-bottom: 3px solid var(--linkColor);
    }
  }
}

.TabContent {
}
